.button {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 250px;
  font-size: 28px;
  color: var(--color-green);
  cursor: pointer;
  background: none;
  border: none;
}
