.wrapper {
  display: flex;
  gap: 16px;

  & .promoCode {
    position: relative;
    font-size: 16px;
    color: var(--color-white);

    &:not(:last-child)::after {
      content: '/';
      position: absolute;
      left: calc(100% + 4px);
    }
  }
}
