.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 24px;

  & .sortWrapper {
    display: flex;
    gap: 20px;
  }

  & .searchAppearanceWrapper {
    display: flex;
    gap: 10px;
  }
}
