:root {
  --product-card-border-radius: 24px;
}

.card {
  display: grid;
  grid-template-areas: "image"
    "productInfo"
    "category"
    "actionButtons";
  width: 350px;
  background-color: var(--color-white);
  filter: drop-shadow(0 0 4px rgb(0 0 0 / 0.1)) drop-shadow(0 2px 4px rgb(0 0 0 / 0.1));
  border-radius: var(--product-card-border-radius);
}
