.page {
  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  & .mainHome {
    display: grid;
    grid-template-columns: 350px 1fr;
    background-color: var(--color-light-gray);
  }

  & .mainBasket {
    display: grid;
    grid-template-columns: 1fr 425px;
    gap: 45px;
    padding: 45px;
    background-color: var(--color-light-gray);
  }
}
