.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-black);
}

.header {
  color: var(--color-white);
}

.activeBlock {
  display: flex;
  gap: 1rem;
}
