.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & .inputWrapper {
    display: flex;
    gap: 16px;
    align-items: center;

    & .input {
      padding: 5px;
      text-align: center;
      border: none;
      border-radius: 24px;
      outline: none;
    }
  }
}
