.wrapper {
  font-size: 18px;
  margin-top: 16px;

  & .title {
    margin: 0;
  }

  & .list {
    margin: 0;
    padding-left: 32px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}
