.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-gray);

  & .prices {
    display: flex;
    gap: 10px;
    align-items: center;

    & .new {
      font-size: 22px;
      font-weight: 700;
      color: var(--color-red);
    }

    & .old {
      font-size: 20px;
      color: var(--color-gray);
      text-decoration: line-through;
    }
  }
}
