.sizeList {
  position: absolute;
  top: calc(100% + 5px);
  left: 32px;
  gap: 10px;
  padding: 16px 24px;
  margin: 0;
  list-style: none;
  background: var(--color-white);

  & .listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black);
    cursor: pointer;
    border: 1px solid var(--color-black);
    border-radius: 4px;
  }
}
