.filterWrapper {

  & .title {
    padding-bottom: 16px;
    margin: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--color-gray);
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 35vh;
    padding: 0;
    margin: 0;
    overflow: auto;
    list-style: none;

    & button {
      padding: 0;
      font-size: 18px;
      background: none;
      border: none;
    }
  }

  & .filterButton {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;

    &::before {
      display: block;
      width: 16px;
      height: 16px;
      content: "";
      border: 1px solid;
    }

    &.isActive {
      position: relative;
      font-size: 20px;

      &::after {
        position: absolute;
        display: block;
        width: 18px;
        height: 18px;
        content: "";
        background-color: var(--color-green);
        background-image: url(assets/images/check.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
      }
    }
  }
}
