.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: #fff;
}

.button {
  width: 287px;
  height: 66px;
  background: #000;
  border-radius: 48px;
}
