.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.price {
  padding: 0;
  border: none;
}

.btn {
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-green);
  border: none;
  border-radius: 50%;
}
