.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 253, 246);
  background: linear-gradient(
    90deg,
    rgba(255, 253, 246, 1) 0%,
    rgba(186, 176, 176, 0.1983311124469923) 15%,
    rgba(186, 176, 176, 0.2) 85%,
    rgba(255, 253, 246, 1) 100%
  );
  position: absolute;
  height: 100%;
  width: 100%;
}

.container {
  position: absolute;
  width: 500px;
  background: #c4c4c4;
  border-radius: 24px;
  box-shadow: 0 0 4px rgb(59 58 57 / 0.1), 0 2px 4px rgb(0 0 0 / 0.1);
}
