.list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: 0;
  list-style: none;

  & .element {
    position: relative;

    &:not(:last-child)::after {
      position: relative;
      right: -8px;
      content: ">>";
    }

    &:last-child {

      & .link {
        text-decoration: none;
        pointer-events: none;
      }
    }

    & .link {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--color-black);
    }
  }
}
