.actionButton {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;

  &.disable {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--color-gray);
    border-radius: 8px;
    color: var(--color-black);
    font-weight: 900;
  }
}
